
@-webkit-keyframes scroll {
	0% {
	  transform: translateX(0);
	}
	100% {
	  transform: translateX(calc(-250px * 7));
	}
  }
  
  @keyframes scroll {
	0% {
	  transform: translateX(0);
	}
	100% {
	  transform: translateX(calc(-250px * 7));
	}
  }
  .slider {
	background: var(--bg);
	height: 100px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 1200px;
	margin-top: 150px;
  }
  .slider::before, .slider::after {
	background: linear-gradient(to right, var(--bg) 10%, rgba(255, 255, 255, 0) 100%);
	content: "";
	height: 100px;
	position: absolute;
	width: 200px;
	z-index: 2;
  }
  .slider::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
  }
  .slider::before {
	left: 0;
	top: 0;
  }
  .slider .slide-track {
	-webkit-animation: scroll 40s linear infinite;
	animation: scroll 40s linear infinite;
	display: flex;
	width: calc(250px * 7);
  }
  .slider .slide {
	height: 100px;
	width: 250px;
	display: flex;
	align-items: center;
  }
  .slide img{
	max-width: 128px;
	max-height: 100px;
  }